<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreambai.blog.dao.LinkMapper">
    <resultMap type="Link" id="LinkResult">
        <result property="link_name" column="link_name"/>
        <result property="link_url" column="link_url"/>
    </resultMap>

    <select id="allLinkList" resultMap="LinkResult">
        select * from link
    </select>
</mapper>